<nav class="flex w-[100%] relative justify-between items-center px-6 py-4 text-xl">
  <h2 class="text-default-font rouge-script text-7xl">Binjan</h2>
  <app-list class="absolute center-transform top-[50%] left-[50%]"/>
  <div class="flex justify-center items-center gap-3">
    <span>+001 (313) 345 678</span>
    <div class="aspect-square w-15 text-selected flex items-center justify-center bg-white shadow-xl rounded-4xl hover:scale-105 transition-transform duration-150 cursor-pointer">
      <i class="bi bi-telephone-outbound text-3xl mr-1 mt-1"></i>
    </div>
  </div>
</nav>
