@import "tailwindcss";


@theme {
  --color-default-font: rgb(23 45 64);
  --color-accent-font: rgb(55 61 54);
  --color-selected: rgb(61 110 108);
  --color-section-background: rgb(248 247 242);
}

.center-transform-x {
  translate: -50% 0;
}

.center-transform {
  translate: -50% -50%;
}
